/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/


.owl-theme .owl-controls {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 22px;
    bottom: 30px;
    text-align: center;
    padding-right: 0;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    margin: 0px;
    padding: 0;
    font-size: 1px;
    border-radius: 0;
    opacity: 1;
    width: 35px;
    height: 46px;
    line-height: 46px;
    font-size: 48px;
    text-align: center;
    position: absolute;
    bottom: 434px;

    }

.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: 10px;
}
.owl-theme .owl-controls .owl-buttons .owl-next{
    right: 10px;
}
.owl-vitrine.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -45px;
}
.owl-vitrine.owl-theme .owl-controls .owl-buttons .owl-next{
    right: -45px;
}
.owl-vitrine.owl-theme .owl-controls .owl-buttons div{
	width: 30px;
	height: 30px;
	background: #333;
	text-align: center;
	line-height: 30px;
	border-radius: 40px;
	bottom: 220px;
}
.owl-vitrine.owl-theme .owl-controls .owl-buttons div:after{
    color: #fff !important;
    width: 30px;
    text-align: center;
    font-size: 22px !important;

}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=60);/*IE7 fix*/
	opacity: 0.6;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */

}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 13px;
	height: 13px;
	margin: 0px 5px;
	border-radius: 100%;
	background: transparent;
	border:2px solid #fff;
	position: relative;
}
.owl-theme .owl-controls .owl-page span:last-child{
	margin-right: 0;
}

.owl-theme .owl-controls .owl-page.active span{
	background: #fff;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}